.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  padding: 1.5rem;
  margin-top: 1.5rem;
  transform: translateZ(0);
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
  position: relative;
}

.logo-container::before,
.logo-container::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.logo-container::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );
}

/* Inner Square */
.logo-container::after {
  inset: 0;
  padding: 1px;
  border-radius: 0.75rem;
  background: linear-gradient(
    to bottom right,
    rgba(239, 245, 249, 1),
    rgba(228, 232, 233, 1)
  );
  background-clip: content-box;
}

@media (prefers-reduced-motion) {
  .logo-container::before {
    animation: none;
  }
}

.logo {
  height: 6rem;
  pointer-events: none;
}
