:root {
  --font-size-lg: 1.5rem;
  --line-height-lg: 1.75rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Manulife JH Sans', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
  font-weight: bold;
}
